.syouhinhensyuu {
  text-align: center;
  background-color: #FFFFDD;
  font-family: 'TsukuARdGothic-Regular',serif;
  padding-bottom: 40px;
}

.syouhinhensyuu-title {
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}