
.clothe-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFFFDD;
  padding-bottom: 50px;
}

.clothe-list {
  list-style: none;
  margin: 5px;
  float: left;
}

.clothe-img {
  width: 30vh;
  height: 30vh;
}

.msr_box01 {
  background-color: #FFE4B5;
  width: 230px;
}
.msr_box01 a{
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  color:#000000;
  display:block;
  padding: 8px;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.msr_box01 img{
  margin:0 0 5px;
}
.msr_box01 .ttl {
  font-size: 16px;
  line-height: 1.6;
}
.msr_box01 p {
  font-size: 13px;
  line-height: 1.6;
}
.msr_box01 a:hover{
  opacity: 0.8;
}

.page-title {
  font-weight: bold;
  font-size: 30px;
  font-family: 'TsukuARdGothic-Regular',serif;
  background-color: #FFFFDD; 
  text-align: center;
  padding: 20px 0;
}

.ttl {
  text-align: center;
  font-family: 'TsukuARdGothic-Regular',serif;
  font-weight: 800;
}

.index-money {
  text-align: center;
  font-family: 'TsukuARdGothic-Regular',serif;
}