.syouhinsyuppin {
  text-align: center;
  background-color: #FFFFDD;
  font-family: 'TsukuARdGothic-Regular',serif;
  padding-bottom: 40px;
}

.syouhintoukou {
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}

.post-clothe-image {
  width: 30vh;
  height: 30vh;
}

