.syousaizenbu {
  background-color: #FFFFDD;
}

.show-clothe-image {
  width: 50vh;
  height: 50vh;
  text-align: center;
}


.syouhinsyousai {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
  font-family: 'TsukuARdGothic-Regular',serif;
}

.syousainazyouhou {
  text-align: center;
  font-family: 'TsukuARdGothic-Regular',serif;
}