.syousaizenbu {
  background-color: #FFFFDD;
  padding-bottom: 40px;
}

.show-clothe-image {
  width: 50vh;
  height: 50vh;
  text-align: center;
}


.syouhinsyousai {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
  font-family: 'TsukuARdGothic-Regular',serif;
}

.syousainazyouhou {
  text-align: center;
  font-family: 'TsukuARdGothic-Regular',serif;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  font-size: 17px;
  color: #FFFFDD;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}