.search-clothes-page {
  text-align: center;
  background-color: #FFFFDD;
  font-family: 'TsukuARdGothic-Regular',serif;
  padding-bottom: 50px;
}

.search-clothes-title {
  padding: 20px 0;
  font-weight: bold;
  font-size: 25px;
}