<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Headers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/header.css">
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <%= link_to "STREET", root_path, class:"brand" %>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <script src=""></script>
  

</body></html>