<%= render "shared/header"%>

<br>
<br>
<br>

<h3>投稿商品一覧</h3>
<ul class='clothe-lists'>
  <% if @clothes.present? %>
    <% @clothes.each do |clothe| %>
      <li class='clothe-list'>

        <div class=''>
          <%= link_to image_tag(clothe.image, class: "clothe-img"), clothe_path(clothe.id) %>
        </div>

        <div class=''>
          <h3 class=''>
            <%= clothe.name %>
          </h3>
          
          <div class=''>
            <span>¥<%= clothe.price %></span>
          </div>
        </div>
      </li>
    <% end %>
  <% else %>
    <p>※商品が存在しません※</p>
  <% end %>
</ul>